# Python
__pycache__/
*.py[cod]
*.so
.mypy_cache/

# Distribution
dist/
build/
*.egg-info/

# Environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/